@font-face {
    font-family: 'Lato';
    src: url('/Font/Lato/Lato-Regular.ttf');
}


body{
    background-color: cornsilk; 
    font-family: 'Lato', sans-serif;
}

header {
    font-family: 'Lato', sans-serif;
    height: 5vh;
    background-color: lightcoral;
}

form {
    margin-top: 20px;
}

h1 {
    font-size: 25px;
}

.rulesbtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    align-self: center;
    margin-top: 2px;
}

h2 {
    padding: 10px;
    font-size: 40px;
    color: brown;
}

footer {
    font-family: 'Lato', sans-serif;
    height: 5vh;
    background-color: lightcoral;
    text-align: center;
}

.footer{
   padding: 5px;
}

input {
    width : 150px
}

.mainh {
    height: 90vh;
}

.player {
    background-color:silver;
    text-align: center;
    border: 20px solid;
    border-color: silver;
}

.active {
    border: 20px solid;
    border-color: brown;
    
}

.score{
    font-size: 96px;
    margin-top: 10px;
    color: brown;
}

.colScore{
    align-content: space-evenly;
}

.currentScore{
    width: 175px;
    height: 150px;
    background-color: brown;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-top: 10px;
}

.curScore{
    font-size: 48px;
}

.affde {
    width: 125px;
    height: 125px;
}

.cmd {
    position: absolute;
    height: 100vh;
    display: grid;
    align-content: space-evenly;
    background-color:transparent;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -46%);
}

.overbtn {
    background-color: silver;
    border: 3px solid;
    border-color: lightcoral;
    margin-left: 25px;
    margin-right: 25px;
    width: 120px;
    height: 85px;
}

.imgmenu{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .cmd {position: absolute;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: transparent;
        justify-content: space-evenly;
        align-items: center;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .overbtn {
        width: 80px;
        height: 60px;
        background-color: silver;
        font-size: 10px;
        border: 3px solid;
        border-color: lightcoral;
    }

    .affde {
        width: 90px;
        height: 90px;
    }

    .imgmenu{
        width: 20px;
        height: 20px;
    }

    .scoreplayer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mainh {
        height: 90vh;
        align-content: space-between;
        background-color: silver;
    }
}

