@font-face {
    font-family: 'Lato';
    src: url('/Font/Lato/Lato-Regular.ttf');
}

body{
    background-color: cornsilk; 
    font-family: 'Lato', sans-serif;
}

header {
    height: 34px;
    background-color: lightcoral;
}

.ligne{
    display: grid;
    grid-template-columns: 9fr 3fr;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-top: 3px;
}

main {
    background-color: silver;
}

.maindisplay {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
}

.player {
    text-align: center;
    border: 20px solid;
    border-color: silver;
}

.cmd {
    display: grid;
    grid-template-columns: 1fr;
    background-color: silver;
    text-align: center;
    align-content: space-evenly;
}

.active {
    border: 20px solid;
    border-color: brown;
    
}

input {
    width : 150px
}

.rulesbtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    align-self: center;
    margin-top: 2px;
    color: black;
}

h2 {
    padding: 10px;
    font-size: 40px;
    color: brown;
}

.score{
    font-size: 96px;
    margin-top: 10px;
    color: brown;
}

.colScore{
    align-content: space-evenly;
}

.currentScore{
    width: 175px;
    height: 150px;
    background-color: brown;
    border: 5px solid;
    border-color: silver;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-top: 10px;
}

.curScore{
    font-size: 48px;
}

.affde {
    width: 100px;
    height: 100px;
}

.overbtn {
    background-color: silver;
    border: 3px solid;
    border-color: lightcoral;
    width: 100px;
    height: 85px;
}

.imgmenu{
    width: 30px;
    height: 30px;
}

footer {
    font-family: 'Lato', sans-serif;
    height: 25px;
    background-color: lightcoral;
    text-align: center;
    font-size: 16px;
}




@media screen and (max-width: 576px) {
    .maindisplay {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr 5fr;
    }

    .cmd {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: silver;
        justify-content: space-evenly;
        align-self: center;
        align-items: center;
        height: 90px;
    }

    h2 {
        padding-top: 5px;
        font-size: 28px;
        color: brown;
    }

    .scoreplayer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .score{
        font-size: 60px;
        margin-top: 5px;
        color: brown;
    }

    .curScore{
        font-size: 28px;
    }
    
    .currentScore{
        width: 175px;
        height: 90px;
        background-color: brown;
        border: 5px solid;
        border-color: silver;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        padding-top: 5px;
    }

    .overbtn {
        width: 80px;
        height: 80px;
        background-color: silver;
        font-size: 13px;
        border: 3px solid;
        border-color: lightcoral;
        color: black;
    }

    .affde {
        width: 90px;
        height: 90px;
    }

    .imgmenu{
        width: 20px;
        height: 20px;
        color: brown;
    }
}

