body{
    background-color: cornsilk; 
}

header {
    height: 5vh;
    background-color: khaki;
}

form {
    margin-top: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    padding: 30px;
    font-size: 40px;
    color: brown;
}

footer {
    height: 5vh;
    background-color: khaki;
}

input {
    width : 150px
}

.mainh {
    height: 90vh;
}

.player {
    background-color:silver;
    text-align: center;
    border: 20px solid;
    border-color: silver;
}

.active {
    border: 20px solid;
    border-color: brown;
    
}

.score{
    font-size: 96px;
    margin-top: 20px;
    color: brown;
}

.colScore{
    align-content: space-evenly;
}

.currentScore{
    width: 175px;
    height: 150px;
    background-color: brown;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-top: 10px;
}

.curScore{
    font-size: 48px;
}

.affde {
    width: 125px;
    height: 125px;
}

.cmdh {
    position: absolute;
    display: grid;
    align-content: space-evenly;
    background-color:transparent;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -46%);
}

.cmdw {
    position: absolute;
    background-color:beige;
    justify-content: center;
    top: 50%; left: 50%;
    transform: translate(-43%, -50%);
}

.overbtn {
    background-color: silver;
    border: 3px solid;
    border-color: brown;
    margin-left: 25px;
    margin-right: 25px;
    width: 120px;
    height: 85px;
}


